<h1> Edit Profile </h1>


<%= form_for @user do |f| %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>



  <p><%= f.submit "Submit" %></p>
<% end %>
