= stylesheet_link_tag("weekly.css")
<a href="events" target="/events">Create a Shift</a>
= weekly_calendar(@events, :date => @date, :include_24_hours => false) do |w|
  = w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event|
    =  event.start_at.strftime('%I:%M%p')
    =  link_to event.name, event_path(event)

